In [0]:
# includes
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler

In [0]:
# define functions
def confusion_matrix(data_array, labels):
    cm = np.zeros((2, 2), int)
    for i in range(len(data_array)):
        if data_array[i] == 'm':
          res_max = 0
        else:
          res_max = 1
        if labels[i] == 'm':
          target = 0
        else:
          target = 1
        cm[res_max, int(target)] += 1
    return cm
  
def precision(label, confusion_matrix):
    col = confusion_matrix[:, label]
    return confusion_matrix[label, label] / col.sum()
  
def recall(label, confusion_matrix):
        row = confusion_matrix[label, :]
        return confusion_matrix[label, label] / row.sum()

In [0]:
test_df = pd.read_csv("test_results.csv",index_col=0)

In [68]:
test_df.head(5)

,Unnamed: 0.1,x_test_path,y_test_age,y_test_gender,preds_age,preds_gender
0,0,faces_colored/73/nm0000673_rm1920911360_1964-1...,23.0,f,26,1
1,1,faces_colored/37/nm0005137_rm1375568640_1961-4...,49.0,f,40,1
2,2,faces_colored/00/nm0321800_rm1232569088_1982-1...,28.0,f,28,1
3,3,faces_colored/73/nm0416673_rm1596496128_1965-4...,42.0,m,30,0
4,4,faces_colored/68/nm0001368_rm13947136_1945-12-...,52.0,m,49,0

## Age

In [0]:
real_age = test_df['y_test_age']
pred_age = test_df['preds_age']
age_diff = np.abs(real_age-pred_age)
age_diff = age_diff.values.reshape(-1, 1)

In [61]:
scaler = StandardScaler()
scaler.fit(age_diff)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [0]:
avg = scaler.mean_
std = np.sqrt(scaler.var_)

In [67]:
print("Average distance: ",float(avg))
print("Variance: ",float(std))

Average distance:  8.168118500326182
Variance:  7.5270836892951944

## Gender

In [0]:
maskF = test_df.preds_gender == 1
maskM = test_df.preds_gender == 0
column_name = 'preds_gender'
test_df.loc[maskF, column_name] = 'f'
test_df.loc[maskM, column_name] = 'm'

In [0]:
real_gender = test_df['y_test_gender'].values
pred_gender = test_df['preds_gender'].values

In [0]:
correct = 0
false = 0
for i in range(len(pred_gender)):
  if real_gender[i] == pred_gender[i]:
    correct = correct + 1
  else:
    false = false + 1

In [73]:
# Print the results
print("Test accuracy", correct / ( correct + false))
cm = confusion_matrix(pred_gender, real_gender)
print("Confusion matrix:")
print(cm)

Test accuracy 0.7890556045895851
Confusion matrix:
[[11366  2867]
 [ 2597  9229]]

In [74]:
# precision and recall per class
for i in range(2):
  if i == 0:
    clas = 'male'
  else:
    clas = 'female'
  print(clas, i, "Precision: ", precision(i, cm), "Recall: ", recall(i, cm))

male 0 Precision:  0.8140084509059657 Recall:  0.7985667111641959
female 1 Precision:  0.7629794973544973 Recall:  0.780399120581769